# Activer le moteur de réécriture
RewriteEngine on
 
# --------------------------------------------
# Fichiers ou dossiers réels (css, js, images, pdf, zip, etc.) : pas de réécriture, on les sert tels quels
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]
 
# --------------------------------------------
# RÈGLES DE RÉ-ÉCRITURE
# ROUTE TESTS.SHOW
# PATTERN: ...
# TARGET: ...
RewriteRule ^readit\/([1-9][0-9]*)\/[a-z0-9][a-z0-9\-]*[a-z0-9]\.html$ ?READ_IT=show&id=$1 [L]

 
# --------------------------------------------
# FALLBACK
# Toute autre URL non prise en charge par une route ci-dessus part vers le front controller
RewriteRule ^ index.php [L]